<mat-card class="chat-card">
  <mat-card-header>
    <mat-card-title>Chitchat with {{ name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="dialogue-container">
      <p *ngFor="let chat of chats">
        {{chat.name}}: {{chat.message}}
      </p>
    </div>
  </mat-card-content>

  <form #formRef="ngForm" (ngSubmit)="sendChat()">
    <mat-form-field>
      <textarea matInput [(ngModel)]="message" name="message" placeholder="Message" required></textarea>
    </mat-form-field>

    <button mat-button>Send</button>
  </form>
</mat-card>
